body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4EAE0;
}

header {
    background-color: #000000;
    color: #F4DFC8;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #F4DFC8;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #F4DFC8;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF9999;
}

header, footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

article, aside {
    flex: 1;
    margin: 0 10px;
}

article {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #F4DFC8;
}

/* Adjust the position of the article */
.how-it-works {
    position: relative;
}

/* Position the image */
.how-it-works img {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #000000;
    color: #F4DFC8;
    padding: 20px;
    text-align: center;
    clear: both;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.mic-icon {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #F4DFC8;
    color: #F4DFC8;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    border-radius: 50%;
    margin: 0 auto 30px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.mic-icon:hover {
    background-color: #FF9999;
}

.playlist-section {
    text-align: center;
}

.playlist-section h3 {
    margin-bottom: 20px;
    color: #F4DFC8;
}

.playlist-section:hover .mic-icon {
    background-color: #FF9999;
}

/* Styles for the speech info section */
.speechInfo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

.receivedSpeech{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    margin-top: 10px;
    font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.detectedEmotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}